<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head') %>
  <body>
    <header>
      <h1>Log In</h1>
      <%- include('partials/nav') %>
    </header>
    <main>
      <form action="/login" method="post">
        <div>
          <label for="email">Email :</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="mdp">Mot de passe :</label>
          <input type="password" id="mdp" name="mdp" required />
        </div>

        <div>
          <button type="submit">Se connecter</button>
        </div>
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
