<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/commande">Commande</a></li>
    <li><a href="/ajout_menu">Ajouter au menu</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
</nav>
