<div>
  <img src="<%=coffee.img%>" style="width: 300px; height: auto; margin: auto" />
  <p><%=coffee.describe%></p>

  <a href="/page_detail/<%= coffee.id %>">
    <h3><%=coffee.model%></h3>
  </a>

  <button class="buttonD" type="submit">Delete</button>
</div>
